<p>updatereader works!</p>


<form>
    readername: <input type="text" #readername placeholder="rajakumar"/><br/>
    readermail: <input type="text" #readermail placeholder="2228208@cts.com" /><br/>
    bookid: <input type="number" #bookid placeholder="2"/><br/>
    paymentid: <input type="number" #paymentid placeholder="pay21" /><br/>
    purchasedate: <input type="text" #purchasedate placeholder="21/06/2001"/><br/>
  
    <!-- <input type="button" value="Add" (click)="create(readername.value, readermail.value, 
    +bookid.value,+paymentid.value,purchasedate.value);"/>-->
    <input type="button" value="Update" (click)="getUpdateData();"/> -->
</form>
