table{
    border-spacing: 0px;
    tr{
        th{
            border: 2px solid black;
        }
        td{
            border: 1px solid black;
        }
    }
}
h3{
    color: black;
    margin-top: 92px;
    text-decoration: underline;
}
h3[_ngcontent-gip-c57] {
    color: black;
    margin-top: 92px;
    text-decoration: underline;
}