li.nav-item {
    float: left;
    margin-right: 30px;
}
li.nav-item[_ngcontent-yem-c58] {
    float: left;
    margin-right: 30px;
}
li.nav-item{
    list-style: none;
    border: 2px solid #55c023;
    background: #55c023;
}
li.nav-item[_ngcontent-rxl-c60] {
    list-style: none;
    border: 2px solid #55c023;
    background: #55c023;
    outline: #ff0047;
    z-index: 0;
}